# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.nitro
.output
dist
dist-ssr
old
api
*.local
.env
public/mockServiceWorker.js
backends/vite/db.json
backends/vite/auth-db.json
backends/nitro/auth-db.json

# Editor directories and files
.cursor
.cursor/*
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?